@model Seda.MVC.UI.Models.AssignmentViewModel;
@{
    ViewData["Title"] = "NewAssignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Task Ekle";
}


<form class="form-group" method="post">

    <b>Task Adı</b>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <b>Zorluk</b>
    @Html.TextBoxFor(x => x.Difficulty, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Task Ekle</button>

</form>

